{% extends "sportsman/base.html" %}
{% load staticfiles %}

{% block title %}运动能力筛查 | 仪表盘{% endblock %}

{% block navbar-top-links %}
				<li>
					<select data-placeholder="选取一个批次..." class="form-control" style="width:350px;" onchange="location='{%url 'sportsman:index'%}?{{ test_plan_id_field_name }}='+this.options[this.selectedIndex].value">
						{% for item in available_test_plans %}
						<option value="{{ item.id }}" {% if test_plan.id == item.id %}selected{% endif %} >{{ item.name }}</option>
						{% endfor %}
					</select>
				</li>
{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-2">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<span class="label label-success pull-right">{% if district == None %}全市{% else %}{{ district }}{% endif %}</span>
							<h5>总测试人数</h5>
						</div>
						<div class="ibox-content">
							<h1 class="no-margins text-center">{{local_statistics.total}}</h1>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>优秀、正常、干预比例</h5>
						</div>
						<div class="ibox-content">
							<div>
								<canvas id="talent_frail_other_percentage_chart" height="200"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>男女比例</h5>
						</div>
						<div class="ibox-content">
							<div>
								<canvas id="male_female_percentage_chart" height="200"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>运动天赋优秀在全市占比</h5>
						</div>
						<div class="ibox-content">
							<div>
								<canvas id="talent_local_global_percentage_chart" height="200"></canvas>
							</div>
						</div>
					</div>
				</div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>运动天赋优秀名单</h5>
                            <div class="ibox-tools">
                                <a href="{%url 'sportsman:studentEvaluations'%}?{{ test_plan_id_field_name }}={{ test_plan.id }}">
                                    more
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>出生年月</th>
                                        <th>学校</th>
                                        <th>班级</th>
                                        <th>总成绩</th>
										{% if district == None %}
										<th>区县</th>
										{% else %}
										<th>区排名</th>
										{% endif %}
                                        <th>市排名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ranking in talent_rankings|slice:":6" %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ranking.name }}</td>
                                        <td>{{ ranking.gender }}</td>
                                        <td>{{ ranking.birthdate }}</td>
                                        <td>{{ ranking.school }}</td>
                                        <td>{{ ranking.schoolClass }}</td>
                                        <td>{{ ranking.overall_score }}</td>
										{% if district == None %}
										<td>{{ ranking.district }}</td>
										{% else %}
										<td>{{ ranking.district_rank_number }}</td>
										{% endif %}
                                        <td>{{ ranking.rank_number }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
			</div>
            <div class="row">
				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>健康干预在全市占比</h5>
						</div>
						<div class="ibox-content">
							<div>
								<canvas id="frail_local_global_percentage_chart" height="200"></canvas>
							</div>
						</div>
					</div>
				</div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>健康干预名单</h5>
                            <div class="ibox-tools">
                                <a href="{%url 'sportsman:studentEvaluations'%}?{{ test_plan_id_field_name }}={{ test_plan.id }}">
                                    more
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>出生年月</th>
                                        <th>学校</th>
                                        <th>班级</th>
                                        <th>总成绩</th>
										{% if district == None %}
										<th>区县</th>
										{% endif %}
                                        <th>市排名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ranking in frail_rankings|slice:":6" %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ranking.name }}</td>
                                        <td>{{ ranking.gender }}</td>
                                        <td>{{ ranking.birthdate }}</td>
                                        <td>{{ ranking.school }}</td>
                                        <td>{{ ranking.schoolClass }}</td>
                                        <td>{{ ranking.overall_score }}</td>
										{% if district == None %}
										<td>{{ ranking.district }}</td>
										{% endif %}
                                        <td>{{ ranking.rank_number }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block script %}
    <!-- Flot -->
    <script src="{% static "sportsman/js/plugins/flot/jquery.flot.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/flot/jquery.flot.tooltip.min.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/flot/jquery.flot.spline.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/flot/jquery.flot.resize.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/flot/jquery.flot.pie.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/flot/jquery.flot.symbol.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/flot/curvedLines.js" %} "></script>

    <!-- Peity -->
    <script src="{% static "sportsman/js/plugins/peity/jquery.peity.min.js" %} "></script>
    <script src="{% static "sportsman/js/demo/peity-demo.js" %} "></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static "sportsman/js/inspinia.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/pace/pace.min.js" %} "></script>

    <!-- jQuery UI -->
    <script src="{% static "sportsman/js/plugins/jquery-ui/jquery-ui.min.js" %} "></script>

    <!-- Jvectormap -->
    <script src="{% static "sportsman/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js" %} "></script>
    <script src="{% static "sportsman/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %} "></script>

    <!-- Sparkline -->
    <script src="{% static "sportsman/js/plugins/sparkline/jquery.sparkline.min.js" %} "></script>

    <!-- Sparkline demo data  -->
    <script src="{% static "sportsman/js/demo/sparkline-demo.js" %} "></script>

    <!-- ChartJS-->
    <script src="{% static "sportsman/js/plugins/chartJs/Chart.min.js" %} "></script>

    <script src="{% static "sportsman/js/pages-addon/index.js" %} "></script>
	
	<script>
		var colors = {
					'talent': "#ffa037",
					'frail': "#f74877",
					'other': "#00c2d1",
					'male': "#00c2d1",
					'female': "#f74877",
					'male_other': "#bdf0f5",
					'female_other': "#ff9eb6"
					}
		var talent_frail_other_percentage_data = [
			{
				value: {{ local_statistics.talent }},
				color: colors['talent'],
				highlight: "#FFC870",
				label: "优秀"
			},
			{
				value: {{ local_statistics.frail }},
				color: colors['frail'],
				highlight: "#FF5A5E",
				label: "干预"
			},
			{
				value: {{ local_statistics.other }},
				color: colors['other'],
				highlight: "#5AD3D1",
				label: "正常"
			}
		];

		var male_female_percentage_data = [
			{
				value: {{ local_statistics.male }},
				color: colors['male'],
				highlight: "#5AD3D1",
				label: "男"
			},
			{
				value: {{ local_statistics.female }},
				color: colors['female'],
				highlight: "#FF5A5E",
				label: "女"
			}
		];

		{% if district == None %}
		var talent_local_global_percentage_data = [
			{
				value: {{ local_statistics.male_talent }},
				color: colors['male'],
				highlight: "#5AD3D1",
				label: "全市 - 男"
			},
			{
				value: {{ local_statistics.female_talent }},
				color: colors['female'],
				highlight: "#FF5A5E",
				label: "全市 - 女"
			}
		];
		{% else %}
		var talent_local_global_percentage_data = [
			{
				value: {{ local_statistics.male_talent }},
				color: colors['male'],
				highlight: "#5AD3D1",
				label: "本区 - 男"
			},
			{
				value: {{ local_statistics.female_talent }},
				color: colors['female'],
				highlight: "#FF5A5E",
				label: "本区 - 女"
			},
			{
				value: {{ global_statistics.female_talent }} - {{ local_statistics.female_talent }},
				color: colors['female_other'],
				highlight: "#FF5A5E",
				label: "全市其它区县 - 女"
			},
			{
				value: {{ global_statistics.male_talent }} - {{ local_statistics.male_talent }},
				color: colors['male_other'],
				highlight: "#5AD3D1",
				label: "全市其它区县 - 男"
			}
		];
		{% endif %}

		{% if district == None %}
		var frail_local_global_percentage_data = [
			{
				value: {{ local_statistics.male_frail }},
				color: colors['male'],
				highlight: "#5AD3D1",
				label: "全市 - 男"
			},
			{
				value: {{ local_statistics.female_frail }},
				color: colors['female'],
				highlight: "#FF5A5E",
				label: "全市 - 女"
			}
		];
		{% else %}
		var frail_local_global_percentage_data = [
			{
				value: {{ local_statistics.male_frail }},
				color: colors['male'],
				highlight: "#5AD3D1",
				label: "本区 - 男"
			},
			{
				value: {{ local_statistics.female_frail }},
				color: colors['female'],
				highlight: "#FF5A5E",
				label: "本区 - 女"
			},
			{
				value: {{ global_statistics.female_frail }} - {{ local_statistics.female_frail }},
				color: colors['female_other'],
				highlight: "#FF5A5E",
				label: "全市其它区县 - 女"
			},
			{
				value: {{ global_statistics.male_frail }} - {{ local_statistics.male_frail }},
				color: colors['male_other'],
				highlight: "#5AD3D1",
				label: "全市其它区县 - 男"
			}
		];
		{% endif %}
    </script>
{% endblock %}